.nav-div {
    background: top/contain repeat fixed url("../images/galaxy-nav.png");
    margin: 0 0 0 1rem;
    padding: 1.4rem 1.1rem 2.9rem 1.1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 0 2.5rem;
    border-bottom: solid 2px rgba(0, 255, 255, 0.65);
    box-shadow: 0 0 7.5px 4px royalblue;
}